{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    <h1>Liste des souhaits</h1>
    <ul>
        {%for wish in listWishs%}
            <li>{{wish.id}} - {{wish.title}} - {{wish.description}} - {{wish.author}} -  {{wish.category.name}}</li>
        {%endfor%}
    </ul>
{% endblock %}
