<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nom du site de Tevin{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap">
        {% block stylesheets %}
            <link rel ="stylesheet" href="{{asset('css/style.css')}}">
            <link rel="icon" type="image/x-icon" href="{{asset('images/favicon.png')}}">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <header>
        {% block header %}
            Menu contextuel convainquant
            <img src="{{asset('images/logo.png')}}">
        {% endblock %}
    </header>
    {% block nav %}
    <nav class="crumbs">
        <ol>
            <li class="crumb"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="crumb"><a href="{{ path('test') }}">Page test</a></li>
            <li class="crumb"><a href="{{ path('app_main') }}">Page main</a></li>
            <li class="crumb"><a href="{{ path('about_us') }}">à propos</a></li>
{#
            <li class="crumb"><a href="{{ path('wish_index') }}">Index des idées</a></li>
#}
{#
            <li class="crumb"><a href="{{ path('wish_list') }}">Liste des idées</a></li>
#}
{#
            <li class="crumb"><a href="{{ path('wishdetail') }}">Détail des idées</a></li>
#}
            <li class="crumb"><a href="{{ path('wish_add') }}">Ajouter un souhait</a></li>

        </ol>
    </nav>
    {% endblock %}
    <body>
        {% block body %}{% endblock %}
    </body>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <footer>
        {% block footer %}©Bucket-List {{'now' | date('Y')}} - <a href="{{ path('app_rgpd') }}">Mentions légales</a>{%endblock%}
    </footer>


</html>
